parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method Symfony\\\\Component\\\\Intl\\\\Intl\\:\\:getLocaleBundle\\(\\)\\.$#"
			count: 1
			path: src/ColumnType/LocalizedDateColumn.php

		-
			message: "#^Class Tetranz\\\\Select2EntityBundle\\\\Form\\\\Type\\\\Select2EntityType not found\\.$#"
			count: 1
			path: src/FilterType/AutocompleteFilterType.php

		-
			message: "#^Variable method call on Doctrine\\\\ORM\\\\Query\\\\Expr\\.$#"
			count: 2
			path: src/FilterType/DateFilterType.php

		-
			message: "#^Variable method call on Doctrine\\\\ORM\\\\Query\\\\Expr\\.$#"
			count: 2
			path: src/FilterType/FilterType.php

		-
			message: "#^Anonymous function should have native return typehint \"void\"\\.$#"
			count: 1
			path: src/Form/FilterFormType.php

		-
			message: "#^Anonymous function should have native return typehint \"void\"\\.$#"
			count: 4
			path: src/Form/FilterRowType.php

		-
			message: "#^Only booleans are allowed in &&, mixed given on the right side\\.$#"
			count: 1
			path: src/Service/GridService.php

		-
			message: "#^Only booleans are allowed in &&, mixed given on the left side\\.$#"
			count: 1
			path: src/Service/GridService.php

		-
			message: "#^Casting to string something that's already string\\.$#"
			count: 1
			path: src/Struct/FieldMetaDataStruct.php

