{% block column %}
    <td {% for key, value in column.options.attr if column.options.attr %}
    {{ key }}="{{ value }}"
{% endfor %}>
        {% block column_content %}
            {{ type.value(data) }}
        {% endblock %}
    </td>
{% endblock %}
