{# @var column \Unlooped\GridBundle\Column\Column #}

{% extends '@UnloopedGrid/column_types/_iterable_column.html.twig' %}

{% block column_content %}
    {% set val = value|default(column.options.nullSymbol) %}
    <span class="badge badge-status-{% if column.options.classPrefix %}{{ column.options.classPrefix }}-{% endif %}{{ val }}">
        {{ val }}
    </span>
{% endblock %}
