{# @var column \Unlooped\GridBundle\Column\Column #}

{% extends '@UnloopedGrid/column_types/_iterable_column.html.twig' %}

{% block column_content %}
    {% if value is null and not column.options.nullAsFalse %}
        {{ column.options.nullSymbol }}
    {% elseif value %}
        <span class="badge {% if column.options.inverted %}badge-danger{% else %}badge-success{% endif %}">{% trans %}Yes{% endtrans %}</span>
    {% else %}
        <span class="badge {% if column.options.inverted %}badge-success{% else %}badge-danger{% endif %}">{% trans %}No{% endtrans %}</span>
    {% endif %}
{% endblock %}
