{# @var type \Unlooped\GridBundle\Column\Column #}

{% extends '@UnloopedGrid/column_types/_iterable_column.html.twig' %}

{% block column_content %}
    {% if value %}
        <span class="badge badge-success">{% trans %}Yes{% endtrans %}</span>
    {% else %}
        <span class="badge badge-danger">{% trans %}No{% endtrans %}</span>
    {% endif %}
{% endblock %}
