{# @var grid \Unlooped\GridBundle\Model\Grid #}
<div class="box mb-3">
    <div class="box-body no-padding">
        <table class="table table-hover mb-0">
            <thead>
            {% include grid.listHeaderTemplate with {'grid': grid} %}
            </thead>
            <tbody>
            {% for data in grid.pagination %}
                {% include grid.listRow with {'data': data} %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
